@import '@fontsource-variable/figtree';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  font-family: 'Figtree Variable', sans-serif;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.3;
    rotate: 20deg;
  }

  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

.animate-scroll {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
